* {
    margin: 0;
    padding: 0;
  }
  #qw {
    position: absolute;
    height: 500px;
    width: 1348px;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  #we {
    position: absolute;
    height: 500px;
    width: 650px;
    left: 700px;
    top: 40px;
    bottom: 0px;
    border-radius: 30px;
  }
  #er {
    position: absolute;
    width: 400px;
    height: 260px;
    left: 600px;
    top: 130px;
    border-radius: 20px;
  }
  #rt {
    position: absolute;
    width: 160.64px;
    height: 160.64px;
    left: 700px;
    top: 165px;
    border-radius: 60.1667px;
  }
  #ty {
    position: absolute;
    width: 120.64px;
    height: 120.64px;
    left: 718px;
    top: 186px;
    border-radius: 60.1667px;
  }
  #yu {
    position: absolute;
    width: 45.07px;
    height: 27.68px;
    left: 900px;
    top: 200px;
    color: blue;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23.7229px;
    line-height: 28px;
    font-weight: bold;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0.601667px;
  }
  #ui {
    position: absolute;
    width: 45.07px;
    height: 27.68px;
    left: 900px;
    top: 270px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23.7229px;
    line-height: 28px;
    color: rgb(204, 41, 103);
    font-weight: bold;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0.601667px;
  }
  #io {
    position: absolute;
    width: 550px;
    height: 70px;
    top: 130px;
    font-family: Roboto;
    font-size: 40px;
    line-height: 120%;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 15px;
  }
  #op {
    position: absolute;
    width: 550px;
    height: 81px;
    top: 260px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #8794ba;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 15px;
  }
  #as {
    position: absolute;
    width: 122px;
    height: 20px;
    left: 15px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: white;
    width: 160px;
    height: 40px;
    top: 350px;
    background: #ff1dd9;
    border-radius: 30px;
  }
  #sd {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  
    position: static;
    width: 1180.26px;
    height: 1470px;
    left: calc(50% - 1180.26px / 2);
    top: 700px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 130px;
  }
  #df {
    position: absolute;
    width: 620px;
    height: 53px;
    left: calc(50% - 620px / 2);
    top: 600px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #172755;
  }
  #fg {
    position: absolute;
    width: 1060px;
    height: 53px;
    left: calc(50% - 1060px / 2);
    top: 700px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #8794ba;
  }
  #gh {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1180px;
    height: 164px;
    left: calc(50% - 1180px / 2);
    top: 800px;
  }
  #jk {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 1180.26px;
    height: 1470px;
    top: 1000px;
    flex-grow: 0;
    margin: 0px 130px;
  }
  #kl {
    position: absolute;
    width: 1060px;
    height: 53px;
    left: calc(50% - 1060px / 2);
    top: 2800px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #8794ba;
  }
  #zx {
    position: absolute;
    height: 105px;
    left: 20px;
    top: 3500px;
  }
  #nm {
    position: absolute;
    left: 20px;
    top: 2700px;
  }
  
  git init 
  git add style.css
  git commit -m "frist commit"
  git push