* {
    margin: 0;
    padding: 0;
  }
  #qw {
    position: absolute;
    height: 500px;
    width: 1348px;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  git init 
  git add style.css
  git commit -m "frist commit"
  git push