* {
    margin: 0;
    padding: 0;
  }
  #qw {
    position: absolute;
    height: 500px;
    width: 1348px;
    left: 0px;
    right: 0px;
    top: 0px;
  }
  #we {
    position: absolute;
    height: 500px;
    width: 650px;
    left: 700px;
    top: 40px;
    bottom: 0px;
    border-radius: 30px;
  }
  #er {
    position: absolute;
    width: 400px;
    height: 260px;
    left: 600px;
    top: 130px;
    border-radius: 20px;
  }
  #rt {
    position: absolute;
    width: 160.64px;
    height: 160.64px;
    left: 700px;
    top: 165px;
    border-radius: 60.1667px;
  }
  git init 
  git add style.css
  git commit -m "frist commit"
  git push